<!DOCTYPE html>
<html>

<head>

    <style>
        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: "Roboto";
            padding: 0;
            margin: 0;
            background: linear-gradient(-45deg, #183855 0, #183855 25%, #102331 50%, #22254c 75%, #22254c 100%);
            background-repeat: no-repeat;
            background-attachment: fixed;
            margin-top: 100px;
            margin-left: 20px;
            color: #ecf0f1;
        }
        
        .container {
            /* max-width: 50vw; */
            margin: 0 auto;
        }
        
        select[data-multi-select-plugin] {
            display: none !important;
        }
        
        .multi-select-component {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            padding: 3px 8px;
            font-size: 14px;
            line-height: 1.42857143;
            padding-bottom: 0px;
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
            -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }
        
        .autocomplete-list {
            border-radius: 4px 0px 0px 4px;
        }
        
        .multi-select-component:focus-within {
            box-shadow: inset 0px 0px 0px 2px #78ABFE;
        }
        
        .multi-select-component .btn-group {
            display: none !important;
        }
        
        .multiselect-native-select .multiselect-container {
            width: 100%;
        }
        
        .selected-wrapper {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            display: inline-block;
            border: 1px solid #d9d9d9;
            background-color: #ededed;
            white-space: nowrap;
            margin: 1px 5px 5px 0;
            height: 22px;
            vertical-align: top;
            cursor: default;
        }
        
        .selected-wrapper .selected-label {
            max-width: 514px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 4px;
            vertical-align: top;
        }
        
        .selected-wrapper .selected-close {
            display: inline-block;
            text-decoration: none;
            font-size: 14px;
            line-height: 1.49em;
            margin-left: 5px;
            padding-bottom: 10px;
            height: 100%;
            vertical-align: top;
            padding-right: 4px;
            opacity: 0.2;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            font-weight: 700;
        }
        
        .search-container {
            display: flex;
            flex-direction: row;
        }
        
        .search-container .selected-input {
            background: none;
            border: 0;
            height: 20px;
            width: fit-content;
            padding: 0;
            margin-bottom: 6px;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        
        .search-container .selected-input:focus {
            outline: none;
        }
        
        .dropdown-icon.active {
            transform: rotateX(180deg)
        }
        
        .search-container .dropdown-icon {
            display: inline-block;
            padding: 10px 5px;
            position: absolute;
            top: 5px;
            right: 5px;
            width: 10px;
            height: 10px;
            border: 0 !important;
            /* needed */
            -webkit-appearance: none;
            -moz-appearance: none;
            /* SVG background image */
            background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23818181%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23818181%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
            background-position: center;
            background-size: 10px;
            background-repeat: no-repeat;
        }
        
        .search-container ul {
            position: absolute;
            list-style: none;
            padding: 0;
            z-index: 3;
            margin-top: 29px;
            width: 100%;
            right: 0px;
            background: #fff;
            border: 1px solid #ccc;
            border-top: none;
            border-bottom: none;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        }
        
        .search-container ul :focus {
            outline: none;
        }
        
        .search-container ul li {
            display: block;
            text-align: left;
            padding: 8px 29px 2px 12px;
            border-bottom: 1px solid #ccc;
            font-size: 14px;
            min-height: 31px;
        }
        
        .search-container ul li:first-child {
            border-top: 1px solid #ccc;
            border-radius: 4px 0px 0 0;
        }
        
        .search-container ul li:last-child {
            border-radius: 4px 0px 0 0;
        }
        
        .search-container ul li:hover.not-cursor {
            cursor: default;
        }
        
        .search-container ul li:hover {
            color: #333;
            background-color: rgb(251, 242, 152);
            ;
            border-color: #adadad;
            cursor: pointer;
        }
        /* Adding scrool to select options */
        
        .autocomplete-list {
            max-height: 130px;
            overflow-y: auto;
        }
    </style>

    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


    <script>
        var jqOld = jQuery.noConflict();
        jqOld(function() {
            jqOld("#startDate").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        })
    </script>
    <script>
        var jqOld = jQuery.noConflict();
        jqOld(function() {
            jqOld("#endDate").datepicker({
                dateFormat: 'yy-mm-dd'
            });
        })
    </script>

    <!-- <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="doctor.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin | Eppy</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="./css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="./css/animate.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

</head>

<body onload="Details()">

    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" style="width: 120px;" src="../img/pizzaNpintLogo.svg" />
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold" style="margin-left: 50px;"></span>
                                <!-- <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> -->
                            </a>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                        <li>
                            <a href="/dashboard"><i class="fa fa-th-large"></i> <span
                                class="nav-label">Dashboards</span></a>
                        </li>
                        <li >

                            <a href="/user"><i class="fa fa-users"></i> <span class="nav-label">User</span></a>
    
                        </li>
                        <li >
                            <a href="/vendor"><i class="fa fa-user"></i> <span class="nav-label">Merchant</span></a>
    
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-ticket"></i> <span class="nav-label">Orders</span></a>
                            <ul class="nav nav-second-level">
                                <!-- <li><a href="/orderPending">Order Pending</a></li> -->
                                <li><a href="/orderProgress">Order Inprogress</a></li>
                                <li><a href="/orderComplete">Order Completed</a></li>
                                <li><a href="/orderCancel">Order Cancelled</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/categories"><i class="fa fa-shopping-bag"></i> <span
                                    class="nav-label">Categories</span></a>
    
                        </li>
                        <li class='active'>
                            <a href="/offers"><i class="fa fa-percent"></i> <span class="nav-label">Offers</span></a>
                        </li>
                        <li>
                            <a href="/bannerList"><i class="fa fa-list"></i> <span class=" nav-label">All
                                    Banner</span></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-life-ring"></i> <span class="nav-labellabellabel">Notification
                                </span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="/singleNotification"> Single Notification</a></li>
                                <li><a href="/bulkNotification">Bulk Notification</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/complaints"><i class="fa fa-comment"></i> <span
                                    class="nav-label">Complaints/Reports</span></a>
    
                        </li>
                        <li   >
                            <a href="/review"><i class="fa fa-life-ring"></i> <span class=" nav-label">All
                                    Review</span></a>
                        </li>
                        <li>
                            <a href="/FAQs"><i class="fa fa-info-circle"></i> <span class="nav-label">
                                    FAQs</span></a>
    
                        </li>
    
                        <li>
                            <a href="#"><i class="fa fa-cogs"></i> <span
                                    class="nav-label">Settings</span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="/app_version">App Version</a></li>
                                <li><a href="/settings">Change Password</a></li>
                            </ul>
    
                        </li>
    
                    </ul>
    
                </div>
            </nav>

        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <!-- <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a> -->
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to Eppy Admin </span>
                        </li>

                        <li>
                            <a href="login.html">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>

                </nav>
            </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-5">
                    <h2> Edit Offer</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/dashboard">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/offers">Offers</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Edit Offer </strong>
                        </li>
                    </ol>

                </div>
            </div>
            <div class="container">
                <div class="tab-content container-fluid" style="padding-bottom: 10em;">
                    <div class="panel panel-primary" style="margin-top: 20px;">
                        <div class="panel-heading">
                            <div class="panel-title" style="color:white;">
                                <h4> Edit Offer </h4>
                            </div>
                        </div>
                        <div class="wrapper wrapper-content animated fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- <div class="center"> -->
                                    <div class="ibox " style="width:100%; padding-bottom: 55px;">
                                        <form id="form1" method="post" enctype="multipart/form-data">
                                            <!-- <div class="ibox-content"> -->
                                            <div class="ibox-content">
                                                <div class="row">
                                                    <div class="col-md-6 form-group">
                                                        <label>Discount Id</label>
                                                        <input type="discountId" placeholder="Enter discountId" class="form-control" id="discountId" name="discountId" readonly>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <label>Category Name</label>
                                                        <input type="categoryId" class="form-control" id="categoryId" name="categoryId" readonly>
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <label>Title</label>
                                                        <input type="tittle" placeholder="Enter Title" class="form-control" id="tittle" name="tittle">
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <label>Description</label>
                                                        <input type="description" placeholder="Enter Description" class="form-control" id="description" name="description">
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <label>Max Discount Amount</label>
                                                        <input type="maxDiscount" placeholder="Enter Max Discount Amount" class="form-control" id="maxDiscount" name="maxDiscount">
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <!-- <div class="form-group" style="margin-left: 0;margin-right: 0;"> -->
                                                        <label>Start Date</label>
                                                        <input type="startDate" placeholder="Enter Start Date" class="form-control" id="startDate" name="startDate" required>

                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group" style="margin-left: 0;margin-right: 0;">
                                                            <label>End Date</label>
                                                            <input type="endDate" placeholder="Enter End Date" class="form-control" id="endDate" name="endDate" required>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 form-group">
                                                        <label>Minimum Order Amount</label>
                                                        <input type="mimOrderAmount" placeholder="Enter Mini Order Amount" class="form-control" id="mimOrderAmount" name="mimOrderAmount">
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <label>Offer Percentage</label>
                                                        <input type="discountPercent" placeholder="Enter Offer Percentage" class="form-control" id="discountPercent" name="discountPercent">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <!-- <label for="cashEnable" id ="cashEnable ">cashBackEnable</label> -->
                                                        <span id="cashEnable">Cash Enable</span>
                                                        <select class="form-control" name="cashbackEnable" id="cashbackEnable" style="height: 35px;">

                                                                <option value="true">true</option>
                                                                <option value="false">false</option>
                                                            </select>
                                                    </div>

                                                </div>
                                                <div>
                                                    <img id="blah" src="" alt="" style="width:100px; height:100px; margin-left: 6px; ">
                                                </div>
                                                <div class="form-group">
                                                    <input type="file" accept="image/*" name="image" id="image" style="margin-top: 10px; " onchange="readURL(this)">

                                                    <img id="image" />
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-primary block half-width m-b" style="margin-top: 12px; float: right;" id="Submit">Update Offer</button>
                                                    </div>
                                                </div>

                                            </div>
                                    </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Mainly scripts -->
        <script src="./js/jquery-3.1.1.min.js"></script>
        <script src="./js/popper.min.js"></script>
        <script src="./js/bootstrap.js"></script>
        <script src="./js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="./js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <!-- Peity -->
        <script src="./js/plugins/peity/jquery.peity.min.js"></script>

        <!-- Custom and plugin javascript -->
        <script src="./js/inspinia.js"></script>
        <script src="./js/plugins/pace/pace.min.js"></script>

        <!-- iCheck -->
        <script src="./js/plugins/iCheck/icheck.min.js"></script>

        <!-- Peity -->
        <script src="./js/demo/peity-demo.js"></script>
        <script>
            var host = window.location.protocol + "//" + window.location.host;
            var token = localStorage.getItem("token")
            if (!token) {
                localStorage.removeItem("name");
                localStorage.removeItem("token");
                window.location.replace('/login');
            }

            function auth(code) {
                if (code == 403) {
                    localStorage.removeItem("name");
                    localStorage.removeItem("token");
                    window.location.replace('/login');
                }
            }


            function Details() {
                console.log('edit category')
                var currentLocation = window.location.href;
                var url = new URL(currentLocation);
                var c = url.searchParams.get("id");
                var obj = {
                        "discountId": c
                    }
                    // this.choose();
                $.post(host + '/api/v1/discount/view_DiscountForAdmin', obj, function(data, status) {
                    if (data.code == 200) {
                        if (data.result.addedBy == 'vendor') {

                            document.getElementById("cashbackEnable").style.display = 'none';
                            document.getElementById("cashEnable").style.display = 'none';

                        }
                        // for(var i=0;i<data.result.serviceId.length;i++){
                        console.log(data.result.serviceId)
                        document.getElementById('discountId').value = data.result._id;
                        document.getElementById('categoryId').value = data.result.categoryId;
                        document.getElementById('tittle').value = data.result.tittle
                        document.getElementById('description').value = data.result.description,
                            // document.getElementById('upto').value = data.result.upto;
                        document.getElementById('startDate').value = data.result.startDate;
                        document.getElementById('endDate').value = data.result.endDate;
                        document.getElementById('maxDiscount').value = data.result.maxDiscount;
                        document.getElementById('mimOrderAmount').value = data.result.mimOrderAmount;
                        document.getElementById('discountPercent').value = data.result.discountPercent;
                        document.getElementById('cashbackEnable').value = data.result.cashbackEnable
                        document.getElementById('blah').src = data.result.image
                            // }
                    } else {
                        console.log("hello")
                    }
                });
            }

            function choose() {

                var currentLocation = window.location.href;
                var url = new URL(currentLocation);
                var c = url.searchParams.get("id");
                var obj = {
                    "discountId": c
                }
                $.ajax({
                    url: "http://localhost:3000/api/v1/discount/serviceNameForAdmin",
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(obj),

                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('x-auth', token);
                    },
                    dataType: 'json',
                    success: function(data, status) {

                        if (data.result.length) {
                            var dropDownList = data.result;
                            console.log(dropDownList)

                            var select = document.getElementById("serviceId");
                            for (var i = 0; i < data.result.length; i++) {
                                var option = document.createElement("option"),
                                    txt = document.createTextNode(data.result[i]._id);
                                option.appendChild(txt);
                                option.setAttribute("value", data.result[i].serviceName);
                                select.insertBefore(option, select.lastChild);

                            }
                        } else {
                            alert("no service found for this saloon")
                        }
                    }
                });
            }


            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                        $('#blah')
                            .attr('src', e.target.result)
                            .width(100)
                            .height(100);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        </script>
        
        <script>
            $(document).ready(function() {

                $("form#form1").submit(function(e) {
                    e.preventDefault();
                    var formData = new FormData(this);
                    $.ajax({
                        url: host + '/api/v1/discount/edit_DiscountForAdmin',
                        type: 'post',
                        data: formData,
                        contentType: false,
                        processData: false,
                        success: function(data) {
                            console.log(data, "we")
                            if (data.code == 200) {
                                window.location.replace('/discount')
                                    // alert('file uploaded');

                            } else {
                                alert('file not uploaded');
                            }
                        },
                    });
                });
            });
        </script>
        <script>
            // Initialize function, create initial tokens with itens that are already selected by the user
            function init(element) {
                // Create div that wroaps all the elements inside (select, elements selected, search div) to put select inside
                const wrapper = document.createElement("div");
                wrapper.addEventListener("click", clickOnWrapper);
                wrapper.classList.add("multi-select-component");

                // Create elements of search
                const search_div = document.createElement("div");
                search_div.classList.add("search-container");
                const input = document.createElement("input");
                input.classList.add("selected-input");
                input.setAttribute("autocomplete", "off");
                input.setAttribute("tabindex", "0");
                input.addEventListener("keyup", inputChange);
                input.addEventListener("keydown", deletePressed);
                input.addEventListener("click", openOptions);

                const dropdown_icon = document.createElement("a");
                dropdown_icon.setAttribute("href", "#");
                dropdown_icon.classList.add("dropdown-icon");

                dropdown_icon.addEventListener("click", clickDropdown);
                const autocomplete_list = document.createElement("ul");
                autocomplete_list.classList.add("autocomplete-list")
                search_div.appendChild(input);
                search_div.appendChild(autocomplete_list);
                search_div.appendChild(dropdown_icon);

                // set the wrapper as child (instead of the element)
                element.parentNode.replaceChild(wrapper, element);
                // set element as child of wrapper
                wrapper.appendChild(element);
                wrapper.appendChild(search_div);

                createInitialTokens(element);
                addPlaceholder(wrapper);
            }

            function removePlaceholder(wrapper) {
                const input_search = wrapper.querySelector(".selected-input");
                input_search.removeAttribute("placeholder");
            }

            function addPlaceholder(wrapper) {
                const input_search = wrapper.querySelector(".selected-input");
                const tokens = wrapper.querySelectorAll(".selected-wrapper");
                if (!tokens.length && !(document.activeElement === input_search))
                    input_search.setAttribute("placeholder", "Please select");
            }


            // Function that create the initial set of tokens with the options selected by the users
            function createInitialTokens(select) {
                let {
                    options_selected
                } = getOptions(select);
                const wrapper = select.parentNode;
                for (let i = 0; i < options_selected.length; i++) {
                    createToken(wrapper, options_selected[i]);
                }
            }


            // Listener of user search
            function inputChange(e) {
                const wrapper = e.target.parentNode.parentNode;
                const select = wrapper.querySelector("select");
                const dropdown = wrapper.querySelector(".dropdown-icon");

                const input_val = e.target.value;

                if (input_val) {
                    dropdown.classList.add("active");
                    populateAutocompleteList(select, input_val.trim());
                } else {
                    dropdown.classList.remove("active");
                    const event = new Event('click');
                    dropdown.dispatchEvent(event);
                }
            }


            // Listen for clicks on the wrapper, if click happens focus on the input
            function clickOnWrapper(e) {
                const wrapper = e.target;
                if (wrapper.tagName == "DIV") {
                    const input_search = wrapper.querySelector(".selected-input");
                    const dropdown = wrapper.querySelector(".dropdown-icon");
                    if (!dropdown.classList.contains("active")) {
                        const event = new Event('click');
                        dropdown.dispatchEvent(event);
                    }
                    input_search.focus();
                    removePlaceholder(wrapper);
                }

            }

            function openOptions(e) {
                const input_search = e.target;
                const wrapper = input_search.parentElement.parentElement;
                const dropdown = wrapper.querySelector(".dropdown-icon");
                if (!dropdown.classList.contains("active")) {
                    const event = new Event('click');
                    dropdown.dispatchEvent(event);
                }
                e.stopPropagation();

            }

            // Function that create a token inside of a wrapper with the given value
            function createToken(wrapper, value) {
                const search = wrapper.querySelector(".search-container");
                // Create token wrapper
                const token = document.createElement("div");
                token.classList.add("selected-wrapper");
                const token_span = document.createElement("span");
                token_span.classList.add("selected-label");
                token_span.innerText = value;
                const close = document.createElement("a");
                close.classList.add("selected-close");
                close.setAttribute("tabindex", "-1");
                close.setAttribute("data-option", value);
                close.setAttribute("data-hits", 0);
                close.setAttribute("href", "#");
                close.innerText = "x";
                close.addEventListener("click", removeToken)
                token.appendChild(token_span);
                token.appendChild(close);
                wrapper.insertBefore(token, search);
            }


            // Listen for clicks in the dropdown option
            function clickDropdown(e) {

                const dropdown = e.target;
                const wrapper = dropdown.parentNode.parentNode;
                const input_search = wrapper.querySelector(".selected-input");
                const select = wrapper.querySelector("select");
                dropdown.classList.toggle("active");

                if (dropdown.classList.contains("active")) {
                    removePlaceholder(wrapper);
                    input_search.focus();

                    if (!input_search.value) {
                        populateAutocompleteList(select, "", true);
                    } else {
                        populateAutocompleteList(select, input_search.value);

                    }
                } else {
                    clearAutocompleteList(select);
                    addPlaceholder(wrapper);
                }
            }


            // Clears the results of the autocomplete list
            function clearAutocompleteList(select) {
                const wrapper = select.parentNode;

                const autocomplete_list = wrapper.querySelector(".autocomplete-list");
                autocomplete_list.innerHTML = "";
            }

            // Populate the autocomplete list following a given query from the user
            function populateAutocompleteList(select, query, dropdown = false) {
                const {
                    autocomplete_options
                } = getOptions(select);


                let options_to_show;

                if (dropdown)
                    options_to_show = autocomplete_options;
                else
                    options_to_show = autocomplete(query, autocomplete_options);

                const wrapper = select.parentNode;
                const input_search = wrapper.querySelector(".search-container");
                const autocomplete_list = wrapper.querySelector(".autocomplete-list");
                autocomplete_list.innerHTML = "";
                const result_size = options_to_show.length;

                if (result_size == 1) {

                    const li = document.createElement("li");
                    li.innerText = options_to_show[0];
                    li.setAttribute('data-value', options_to_show[0]);
                    li.addEventListener("click", selectOption);
                    autocomplete_list.appendChild(li);
                    if (query.length == options_to_show[0].length) {
                        const event = new Event('click');
                        li.dispatchEvent(event);

                    }
                } else if (result_size > 1) {

                    for (let i = 0; i < result_size; i++) {
                        const li = document.createElement("li");
                        li.innerText = options_to_show[i];
                        li.setAttribute('data-value', options_to_show[i]);
                        li.addEventListener("click", selectOption);
                        autocomplete_list.appendChild(li);
                    }
                } else {
                    const li = document.createElement("li");
                    li.classList.add("not-cursor");
                    li.innerText = "No options found";
                    autocomplete_list.appendChild(li);
                }
            }


            // Listener to autocomplete results when clicked set the selected property in the select option 
            function selectOption(e) {
                const wrapper = e.target.parentNode.parentNode.parentNode;
                const input_search = wrapper.querySelector(".selected-input");
                const option = wrapper.querySelector(`select option[value="${e.target.dataset.value}"]`);

                option.setAttribute("selected", "");
                createToken(wrapper, e.target.dataset.value);
                if (input_search.value) {
                    input_search.value = "";
                }

                input_search.focus();

                e.target.remove();
                const autocomplete_list = wrapper.querySelector(".autocomplete-list");


                if (!autocomplete_list.children.length) {
                    const li = document.createElement("li");
                    li.classList.add("not-cursor");
                    li.innerText = "No options found";
                    autocomplete_list.appendChild(li);
                }

                const event = new Event('keyup');
                input_search.dispatchEvent(event);
                e.stopPropagation();
            }


            // function that returns a list with the autcomplete list of matches
            function autocomplete(query, options) {
                // No query passed, just return entire list
                if (!query) {
                    return options;
                }
                let options_return = [];

                for (let i = 0; i < options.length; i++) {
                    if (query.toLowerCase() === options[i].slice(0, query.length).toLowerCase()) {
                        options_return.push(options[i]);
                    }
                }
                return options_return;
            }


            // Returns the options that are selected by the user and the ones that are not
            function getOptions(select) {
                // Select all the options available
                const all_options = Array.from(
                    select.querySelectorAll("option")
                ).map(el => el.value);

                // Get the options that are selected from the user
                const options_selected = Array.from(
                    select.querySelectorAll("option:checked")
                ).map(el => el.value);

                // Create an autocomplete options array with the options that are not selected by the user
                const autocomplete_options = [];
                all_options.forEach(option => {
                    if (!options_selected.includes(option)) {
                        autocomplete_options.push(option);
                    }
                });

                autocomplete_options.sort();

                return {
                    options_selected,
                    autocomplete_options
                };

            }

            // Listener for when the user wants to remove a given token.
            function removeToken(e) {
                // Get the value to remove
                const value_to_remove = e.target.dataset.option;
                const wrapper = e.target.parentNode.parentNode;
                const input_search = wrapper.querySelector(".selected-input");
                const dropdown = wrapper.querySelector(".dropdown-icon");
                // Get the options in the select to be unselected
                const option_to_unselect = wrapper.querySelector(`select option[value="${value_to_remove}"]`);
                option_to_unselect.removeAttribute("selected");
                // Remove token attribute
                e.target.parentNode.remove();
                input_search.focus();
                dropdown.classList.remove("active");
                const event = new Event('click');
                dropdown.dispatchEvent(event);
                e.stopPropagation();
            }

            // Listen for 2 sequence of hits on the delete key, if this happens delete the last token if exist
            function deletePressed(e) {
                const wrapper = e.target.parentNode.parentNode;
                const input_search = e.target;
                const key = e.keyCode || e.charCode;
                const tokens = wrapper.querySelectorAll(".selected-wrapper");

                if (tokens.length) {
                    const last_token_x = tokens[tokens.length - 1].querySelector("a");
                    let hits = +last_token_x.dataset.hits;

                    if (key == 8 || key == 46) {
                        if (!input_search.value) {

                            if (hits > 1) {
                                // Trigger delete event
                                const event = new Event('click');
                                last_token_x.dispatchEvent(event);
                            } else {
                                last_token_x.dataset.hits = 2;
                            }
                        }
                    } else {
                        last_token_x.dataset.hits = 0;
                    }
                }
                return true;
            }

            // You can call this function if you want to add new options to the select plugin
            // Target needs to be a unique identifier from the select you want to append new option for example #multi-select-plugin
            // Example of usage addOption("#multi-select-plugin", "tesla", "Tesla")
            function addOption(target, val, text) {
                const select = document.querySelector(target);
                let opt = document.createElement('option');
                opt.value = val;
                opt.innerHTML = text;
                select.appendChild(opt);
            }

            document.addEventListener("DOMContentLoaded", () => {

                // get select that has the options available
                const select = document.querySelectorAll("[data-multi-select-plugin]");
                select.forEach(select => {

                    init(select);
                });

                // Dismiss on outside click
                document.addEventListener('click', () => {
                    // get select that has the options available
                    const select = document.querySelectorAll("[data-multi-select-plugin]");
                    for (let i = 0; i < select.length; i++) {
                        if (event) {
                            var isClickInside = select[i].parentElement.parentElement.contains(event.target);

                            if (!isClickInside) {
                                const wrapper = select[i].parentElement.parentElement;
                                const dropdown = wrapper.querySelector(".dropdown-icon");
                                const autocomplete_list = wrapper.querySelector(".autocomplete-list");
                                //the click was outside the specifiedElement, do something
                                dropdown.classList.remove("active");
                                autocomplete_list.innerHTML = "";
                                addPlaceholder(wrapper);
                            }
                        }
                    }
                });

            });
        </script>
</body>

</html>